.content-section {
  /*стили для всех блоков общие*/
  box-sizing: border-box; /*чтобы браузер не добавлял ширину, а всё было в рамках заданных paddingov*/
  width: 1100px; /*вместо можно истользовать width:100% max-width=360px*/ /*делает ширину всегда 360 для всех блоков*/
  margin: auto; /*делает контент по центру не зависимо от экрана*/
  background: #fff;
}

.header {
  display: grid; /*создали гриды*/
  grid-template-columns: 1fr 138px 1fr; /*лого 149 по центру, остальное по ровну оставшееся*/
  align-items: center; /*выравнивание по центру по горизонтали*/
  padding: 85px 50px; /*отступы по горизонтали и вертикали*/
  font-weight: 400;
  height: 293px;
  color: #000;
  gap: 41px; /*двигает текст в крайних колонках*/
}

.address {
  justify-self: center; /*текст по центру колонки по вертикали*/
  padding-left: 113px; /*двигает текст колонки по горизонтали*/
  font-size: 18px; /*размер шрифта из макета*/
  font-style: normal; /*убрать курсив, т.к у адреса по умолч курсив*/
  line-height: 1.35; /*междустрочный интервал*/
  text-underline-position: under; /*опустить подчеркивание, чтобы не лезло на текст*/
}

.header__logo {
  display: block; /*т.к тег <a> строчный- ссылка,то он не реагирует на размеры. С этм свойством -реагирует*/
  width: min(100%, 148px); /*ширина ссылки*/
}

.header__logo-image {
  width: 100%; /*ширина изображения, если будем менять ширину ссылки, то изображение тоже будет меняться*/
}

.header__links-list {
  display: flex;
  justify-content: space-between; /*растянуть пункты меню на всю ширину колонки*/
}

.header__links-list-item {
  list-style: circle; /*маркеры прозрачным кружком*/
  font-size: 18px; /*размер шрифта из макета*/
  text-decoration: underline; /*задать нижнее подчеркивание слов*/
  text-underline-position: under; /*опустить подчеркивание, чтобы не лезло на текст*/
}

.header__links-list-item_no-bullit {
  /*убрали маркер и подчеркивание у первого слова*/
  list-style: none;
  text-decoration: none;
}

.cover {
  height: 757px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 0;
}

.overlay {
  position: absolute;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  padding: 165px 50px 50px;
  z-index: 1;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  margin-top: 27px;
  margin-left: 30px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  margin-top: 35px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 65px 50px 50px;
  word-spacing: 18px; /*устанавливает размер пробела между словами и тегами в тексте*/
  z-index: 1;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}


